{
  "parser": "babel-eslint",
  "plugins": ["react", "jest", "prettier"],
  "extends": ["airbnb", "plugin:prettier/recommended", "prettier/react"],
  "globals": {
    "React": true,
    "document": true,
    "window": true
  },
  "env": {
    "es6": true,
    "jest": true,
    "browser": true,
    "node": true
  }
}